/vendor/
/temp/
/tmp/
/examples/
/tests/
/materials/
is_it_ok.log
*.zip
*.DS_Store
.devcontainer/
.vscode/
bin/
composer.phar
composer.lock
composer.json
in.txt
is_it_ok.sh
Makefile
phpstan
phpstan.neon
README.md
source.xml